.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: #888;
}